/* CSS Document */
#card {
   position: static;
   display: inline-block;
   border: 2px solid #ccc;
   margin: 7px 9px;
   width: 185px;
   height: 310px;
}
#card img {
   display: flex;
   width: 185px;
   overflow-y: hidden;
}
#thumbnail {
   height: 260px;
   overflow-y: hidden;
   margin-bottom: 10px;
}
.title {
   text-align: center;
   color: white;
   margin-top: 10px;
}