/* CSS Document */
.card {
  position: static;
  border: 1px solid #ccc; /* Optional: Add border for the card */
  margin: 0px 10px;
}
.card img {
  position: static; /* Ensure stacking context */
  display: inline-block;
  width: auto;
  height: 250px;
  overflow: hidden;
}
.text {
  position: center;
  color: white;
}