/* CSS Document */
#card {
  position: static;
  border: 1px solid #ccc;
  margin: 0px 10px;
}
#card img {
  position: static;
  display: inline-block;
  width: auto;
  height: 250px;
  overflow: hidden;
}
.text {
  text-align: center;
  color: white;
}