/* CSS Document */
.seasons {
   display: block;
   width: 100%;
}
.collapsible {
   margin: 5px 0;
   display: block;
}
#collapsible {
   display: flex;
}
.collapsible-btn-wrapper {
   position: relative;
   width: 100%;
}
.collapsible-btn {
   width: 100%;
   min-height: 55px;
   background-color: #9C89B8;
   border: none;
   padding: 10px 20px;
   font-size: 30px;
   cursor: pointer;
   outline: none;
   border-radius: 25px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
}
.collapsible-btn:hover {
   background-color: #51406B;
}
.section-check-wrapper {
   position: absolute;
   display: inline-flex;
   margin: 9px -48px;
}
.section-check-wrapper p {
   margin: -3px -29px;
   font-size: 30px;
   cursor: pointer;
}
.popupContainer[data-val="c"] {
   display: none;
   position: absolute;
   left: 79%;
   margin: -30px -5px;
}
.anime-left {
   display: none;
   padding: 10px;
   width: 55%;
   margin-right: 20px;
   text-align: center;
}
.anime-description {
   padding: 10px;
   border-radius: 20px;
   background-color: #9C89B8;
   border: 2px solid #BBAECE;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin: 0 20px 10px 0;
   text-align: left;
}
.anime-description img {
   display: flex;
   margin: 0 auto;
}
.info_line a {
   display: inline-block;
   margin: 10px 0;
}
#season_name {
   display: inline;
}
.season_info {
   background-color: #9C89B8;
   border: none;
   padding: 10px 20px;
   font-size: 20px;
   cursor: pointer;
   outline: none;
   border-radius: 25px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
   margin-bottom: 2px;
}
.dropdown {
   display: flex;
   flex: 1;
   position: relative;
}
.dropdown select {
   width: 100%;
   padding: 10px;
   border: 1px solid #222425;
   border-radius: 5px;
   color: white;
   background-color: #222425;
   appearance: none;
}
.dropdown::after {
   content: '\25BC';
   position: absolute;
   top: calc(50% - 6px);
   right: 10px;
   color: #888;
}
.i_l {
   margin: 10px 0 15px 0;
   align-items: center;
}
.i_l a {
   display: inline;
}
.num {
   margin-left: 5px;
   font-size: 11px;
   color: #484848;
}
.info_line button {
   margin-right: 5px;
}
.info_line strong, .i_l strong {
   width: 100px;
   font-size: 100%;
   margin-right: 5px;
}