/* CSS Document */
#episodeOverlay {
   position: fixed;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%) translateY(100%);
   width: 65%;
   height: 0;
   background-color: rgba(0, 0, 0, 0.99);
   overflow-y: auto;
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
   z-index: 999;
   opacity: 0;
   pointer-events: none;
}
#episodeOverlay.active {
   height: 90%;
   transform: translateX(-50%) translateY(-5%);
   opacity: 1;
   pointer-events: auto;
}
.epiOverInfo {
   height: 100%;
}
#overlayImg {
   height: 40%;
   overflow-y: hidden;
}
#overlayImg img {
   position: relative;
   width: 100%;
   bottom: calc((100% - 50%) / 2);
}
#titleLine {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-image: linear-gradient(to bottom, #373737, #8A8A8A);
   padding: 0 20px 0 30px;
   color: #8A8A8A
}
.overlay-content {
   color: black;
   font-size: 25px;
}
.overlayCheck {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   border: 2px solid #000;
   cursor: pointer;
   background-position: center;
}
.overlayCheck.unchecked {
   background-image: url("../images/icons/unchecked.png");
}
.overlayCheck.checked {
   background-image: url("../images/icons/checked.png");
}
#episode-description {
   height: 30%;
   color: white;
   font-size: 20px;
   overflow-y: auto;
   padding: 0 20px;
}
#episode-release-date {
   display: flex;
   color: white;
   font-size: 20px;
   overflow-y: auto;
   padding-left: 20px;
}
#episode-release-date #release_date {
   padding-left: 20px;
}