/* CSS Document */
.episode-section {
   display: none;
   width: 100%;
}
.episode-section .episode {
   opacity: 1;
   transition: opacity 0.5s ease;
}
.episode-section .episode.hidden {
   opacity: 0;
   pointer-events: none;
}
.episode {
   display: flex;
   align-items: center;
   width: 100%;
   background-color: #353839;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   margin: 5px 0;
}
.episode-thumbnail {
   width: 120px;
   flex-shrink: 0;
}
.episode-thumbnail img {
   width: 100%;
   height: auto;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
}
.episode-details {
   padding: 15px;
   flex-grow: 1;
}
.episode-info {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.episode-title {
   margin: 0;
   padding-left: 10px;
}
.checkbox-btn {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   border: 2px solid #000;
   cursor: pointer;
   background-repeat: no-repeat;
   background-position: center;
}
.checkbox-btn.unchecked {
   background-image: url("../images/icons/unchecked.png");
}
.checkbox-btn.checked {
   background-image: url("../images/icons/checked.png");
}
.episode p {
   display: inline-block;
   position: absolute;
   margin: -3px -28px;
   font-size: 30px;
   cursor: pointer;
}
.popupContainer {
   display: none;
}
.popup {
   position: absolute;
   background-color: #353839;
   border: 1px solid #434748;
   padding: 3px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
}
.popup button {
   margin: 3px 0;
   background-color: #9C89B8;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.popup button:hover {
   background-color: #51406B;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
}